
body {
    padding-top: 50px;
    /* Examples / Home Page */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0;

    position: relative;

    background: #FFFFFF;

}
header {
    background-color: brown;
    height: 50px;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: transform .1s linear;
    /* Header */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    background: #FFFFFF;
    border-bottom: 1px solid #D9D9D9;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.box-main {
    /* Hero Actions */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 24px;
    gap: 32px;
    margin: 0px;

    width: 100%;
    height: 40%;

    background: #434343;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.box-main p{


    /* Title */

    width: 100%;
    margin: 0;

    /* Title Hero */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 300%;
    line-height: 120%;
    /* or 86px */
    text-align: center;
    letter-spacing: -0.03em;

    color: #F3F3F3;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.header.hide {
    transform: translateY(-50px);
}

.button-add{
    /* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

width: 240px;
height: 56px;

background: #CDCDCD;

border: 1px solid #767676;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

}
.button-add p {
    color:#000000;
    flex-direction: column;
    flex:auto;
    font-size: 25px;

}
.card-grind {
    /* Card Grid */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 48px;

    width: 2354px;
    height: 277px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

main {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
}
footer {
    /* Footer */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 32px 32px 160px;
    gap: 16px;

    width: 2354px;
    height: 334px;

    background: #FFFFFF;
    border-top: 1px solid #D9D9D9;

    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;

}
.title-links {
    /* Title */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 262px;
    min-width: 240px;
    height: 97px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}